<div class="panel">
  <div class="panel-body">
    <div class="container">  
      <%= image_tag (message.user.image), class: "img-circle avatar-medium" %>
      <strong><%= message.user.fullname %></strong>
      <span class="pull-right"><%= message.message_time %></span>
      <hr/>
      <div class="row-space-2">
        <%= message.context %>
      </div>
    </div>
  </div>
</div>