<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <!--<strong><= @pin.comments.user.name %></strong>-->
          <%= comment.comment %>
        </p>
      </div>
    </div>
  </article>
</div>