	<h1>About Us</h1>
<p>Started in April 2016, while working on my One Month Rails Pintresting App, [Business/app Name] was an idea to offer a platform that will allow parents to Share, Buy, and Sell baby clothes to combat the expensive cost of parenting. This new idea transcends the ecommerce community to offer a platform that parents will come to love while replacing a fraction of their hard earned money back into their pockets.</p>
